body {
  margin: 0%;
}
/*header*/

.logo {
  position: fixed;
  max-width: 600px;
  margin: 0 auto;
}

nav {
  color: #0a3641;
  display: inline-block;
  text-align: center;
  background-color: #cb9a21;
  position: fixed;
}

nav a {
  font-family: Tahoma, verdana, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  font-weight: bold;
}
nav li {
  display: inline-block;
}

nav a:hover {
  text-decoration: underline;
}

/*main*/

h1 {
  background-color: #dddddd;
}
